// Resultados
.resultados {
  display: block;
  margin: 50px auto 0;
  width: 80%;
}
.resultados__titulo {
  color: $color-title;
}
.resultados__form {
  display: block;
  margin: 20px 0;
}
.resultados__form label {
  color: $color-text;
}
.resultados__form select {
  background: white;
  border: 1px solid #f2f2f2;
  color: #2995b6;
  border-radius: 7px;
  margin-left: 10px;
  padding: 5px;
  width: 200px;
}
.resultados__horarios {
  border: 1px solid #c3c3c3;
  border-radius: 10px;
  height: 80px;
  display: flex;
  align-items: center;
}
.resultados__horarios ul {
  padding: 0;
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.resultados__horarios ul li {
  list-style: none;
}
.resultados__horarios ul li a {
  color: #2995b6;
  font-size: 22px;
  text-decoration: none;
}
.resultados__horarios ul li a:hover {
  text-decoration: underline;
  color: $color-orange;
}