// Resultados
.resultados {
  display: block;
  margin: 50px auto 0;
  width: 80%;
}
.resultados__titulo {
  color: $color-title;
}
.resultados__form {
  display: block;
  margin: 20px 0;
}
.resultados__form label {
  color: $color-text;
}
.resultados__form select {
  background: white;
  border: 1px solid #f2f2f2;
  border-radius: 7px;
  color: #2995b6;
  font-size: 16px;
  margin-left: 10px;
  padding: 5px;
  width: 200px;
}
.resultados__flies {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0;
  width: 100%;
}
.resultados__flies li {
  border: 1px solid lightgray;
  border-radius: 7px;
  list-style: none;
  margin: 10px 0;
  padding: 10px 15px;
  width: 90%;
}
.resultados__flies li a {
  color: $color-blue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  outline: none;
}