@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
$color-white: #FFFFFF;
$color-orange: #ff4500;
$color-title: #504033;
$color-text: #696969;
$color-blue: #0099ff;
$font: 'Montserrat', sans-serif;
$font-size: 18px;